name: ci
on: pull_request
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm build
      - run: pnpm test
